html {
    scroll-behavior: smooth;
    background-color: #0B132B;
    overflow-x: hidden;
}

body {
    margin: 0;
}

h3 {
    font-size: 25px;
}

.navigation_panel {
    position: fixed;
    top: 110px;
    left: 1510px;
    background-color: #1C2541;
    width: 270px;
    height: 340px;
    z-index: 100;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  display: none;
}

.menu_button_image {
    position: relative;
    bottom: 8px;
    right: 14px;
    width: 55px;
    height: 45px;
}
.drop_button {
    position: fixed;
    top: 50px;
    width: 60px;
    height: 60px;
    left: 1510px;
    background-color: #1C2541;
    padding: 16px;
    border: none;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    
}

  .dropdown_menu {
    position: fixed;
    display: inline-block;
  }

  
  .dropdown_menu:hover .navigation_panel {
      display: block;
    }

  .dropdown_menu:hover .drop_button {
      background-color: #3A506B;
      
    }


.nav_links {
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    font-weight: bold;
    line-height: 50px;
}
.nav_links_list {
    list-style: none;
}


.contact_link {
    position:relative;
    border-style: solid;
    border-color: #000000;
    border-width: 1px;
    text-decoration: none;
    color: #ffffff;
    padding: 5px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
.contact_link:hover {
background-color: #3A506B;

padding: 15px;
}

.about_link {
    position:relative;
    border-style: solid;
    border-color: #000000;
    border-width: 1px;
    text-decoration: none;
    color: #ffffff;
    padding: 5px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  
}

.about_link:hover {
    background-color: #3A506B;
    padding: 15px;
}

.skills_link {
    position:relative;
    border-style: solid;
    border-color: #000000;
    border-width: 1px;
    text-decoration: none;
    color: #ffffff;
    padding: 5px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.skills_link:hover {
    background-color: #3A506B;
    padding: 15px;
}

.code_link {
    position:relative;
    border-style: solid;
    border-color: #000000;
    border-width: 1px;
    text-decoration: none;
    color: #ffffff;
    padding: 5px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.code_link:hover {
    background-color: #3A506B;
    padding: 15px;
}

.education_link {
    position:relative;
    border-style: solid;
    border-color: #000000;
    border-width: 1px;
    text-decoration: none;
    color: #ffffff;
    padding: 5px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.education_link:hover {
    background-color: #3A506B;
    padding: 15px;
}

.lang_link {
    position:relative;
    border-style: solid;
    border-color: #000000;
    border-width: 1px;
    text-decoration: none;
    color: #ffffff;
    padding: 5px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.lang_link:hover {
    background-color: #3A506B;
    padding: 15px;
}

.contacts_class {
    position: relative;
    background-color:#1C2541;
    top: 20px;
    left: 440px;
    width: 300px;
    height: 600px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 30px;
    color: #ffffff;
    padding: 20px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.contact_item {
    list-style: none;
    
}

.contact_item_link {
    color: #ffffff;
    font-style: italic;
}

.contact_item_link:hover {
    background-color: #3A506B;
    padding: 5px;
}

.image_class {
    position: relative;
    top: 10px;
    right: 10px;
    width: 240px;
    height: 320px;
}

.about_class {

position: relative;
bottom: 620px;
left: 243px;
margin-left: auto;
margin-right: auto;
background-color:#1C2541;
color: #ffffff;
height: 380px;
padding: 20px;
width: 485px;
line-height: 30px;
-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.video_class {
    position: relative;
    margin-left: auto;
    margin-right: auto;
   left: 205px;
   bottom: 550px;
    background-color: #0B132B;
    width: 600px;
    height: 400px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.about_class_link {
    color: #ffffff;
    font-style: italic;
}

.about_class_link:hover {
    background-color: #3A506B;

}

.main_class {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
    
}

.skills_class {
    position: relative;
    margin-left: auto;
margin-right: auto;
    width: 970px;
    bottom: 450px;
    padding: 20px;
    background-color:#1C2541;
    color: #ffffff;
    line-height: 30px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.labs_link {
    color: #ffffff;
    font-style: italic;
}

.labs_link:hover {
    background-color: #3A506B;;
    padding: 15px;
}

.code_class {
    position: relative;
    margin-left: auto;
margin-right: auto;
    width: 970px;
    padding: 20px;
    bottom: 310px;
    color: #ffffff;
    background-color:#1C2541;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.code_section {
    font-size: 17px;
}

.education_class {
    position: relative;
    bottom: 160px;
    margin-left: auto;
margin-right: auto;
    width: 970px;
    padding: 20px;
    color: #ffffff;
    background-color:#1C2541;
    line-height: 30px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.edu_block_links:hover {
    background-color: #3A506B;;
    padding: 5px;
}

.edu_block_links {
    color: #ffffff;
    font-style: italic;
}

.lang_class {
    position: relative;
    
    margin-left: auto;
margin-right: auto;
    width: 970px;
    padding: 20px;
    background-color:#1C2541;
    color: #ffffff;
    line-height: 30px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.lang_block_links {
    color: #ffffff;
    font-style: italic;
}

.lang_block_links:hover {
    background-color: #3A506B;
    padding: 5px;
}

.footer_class {
    position: relative;
    top: 200px;
    background-color: #1C2541;
    height: 250px;
    text-align: center;
    width: 100%;
    
}

.footer_gh_image {
    position: relative;
    width: 200px;
    right: 300px;
    top: 70px;
}

.footer_rs_school_logo {
    position: relative;
    width: 200px;
  left: 300px;
  top: 50px;
}   

.footer_2021{
    position: relative;
    width: 200px;
   top: 80px;
}